*{
	padding:0;
	margin:0;
}
html{
	background-color: black;
}


.h1, h2 {font-size: 36px;}
.h2, h2 {font-size: 30px;}
.h3, h3 {font-size: 24px;}
.h4, h4 {font-size: 18px;}
.h5, h5 {font-size: 14px;}
.h6, h6 {font-size: 12px;}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
p {margin: 0 0 10px;}
.text-center {
    text-align: center;
}


.main {
  padding: 200px;
  /*margin-top: 100px;*/
  height: 1500px; /* Used in this example to enable scrolling */
}


/*----------------- header: navigation -----------------*/
.header-nav-icon img {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 5rem;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    display:block;
    margin:auto;
}

/*spans*/
.header-logo-box span {
    color:chocolate;
}
.header-logo-box span {
    color:#ffc515;
}

/*header*/
.header-logo-box{
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}
.header-logo, .header-logo a, .header-logo h3, .header-logo:hover{
    font-size: 27px;
    color:black;
    font-weight:1000;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    cursor: pointer;
    vertical-align: middle;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
}

.header-globe-box{
    cursor: pointer;
    text-align: center;
    display: block;
    /*float: right;*/
    /*text-decoration: none;*/
}


.topnav .header-globe{
    float: right;
    cursor: pointer;
    display: block;
    font-size: 0.5rem;
    font-family: 'DM Serif Display', serif;
    margin-right: 30px;
    margin-left: 30px;
}

/*.header-globe img, .header-globe a{*/
.topnav .header-globe img, .topnav .header-globe a{
    margin-left: 1rem;
    margin-right: 1rem;
    width: 3rem;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    vertical-align: middle;
    text-decoration: none;
    display:block;
    margin:auto;
    margin-top: 15px;
}


.topnav {
      overflow: hidden;
/*  background-color: #f1f1f1;*/
    background-color: rgba(240,240,240,.9);
  position: fixed;
  top: 0;
  width: 100%;

}

.topnav a {
  float: left;
  display: block;
  /*color: #424242;*/
    color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.topnav a:hover {
  /*background-color: #ddd;*/
  color: black;
}

.topnav a.active {
/*  background-color: #ddd;*/
    font-weight: 600;
}

.topnav .icon {
  display: none;
}



@media screen and (max-width: 768px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding: 25px 25px;
  }
}

@media screen and (max-width: 768px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive img {
    float: right;
    display: block;
    text-align: left;
  }
}

.topnav i {
    /*background-color: white;*/
  float: right;
  padding: 11px;
/*  margin-top: 8px;
  margin-right: 16px;*/
  border: none;
  font-size: 17px;
        display:block;
    margin:auto;
    margin-top: 20px;
}

.topnav input[type=text]{
box-shadow: inset 0px -1px 0px #E2E2E2;
  float: right;
  padding: 6px;
  border: none;
  font-size: 17px;
        display:block;
    margin:auto;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
/*----------------- END header: navigation -----------------*/





/*-----------------         footer         -----------------*/
/* The footer is fixed to the bottom of the page */
footer{
	position: fixed;
	bottom: 0;
    color: white;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: black;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
/*	font: bold 16px sans-serif;*/
/*    font-weight: 800;*/
    font-weight: bold;
    font-family: "Poppins", Arial, sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed .footer-left h4{
	font-size: 18px;
	font-weight: bold;
}

.footer-distributed .footer-left h5{
	line-height: 20px;
	color: lightgray;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  black;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */
@media (max-width: 880px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}


.footer-bottom{
	color:  #8f9296;
	font-size: 10px;
	font-weight: lighter;
    margin-top: 5rem;
    padding-bottom: 5rem;
/*	margin: 0;*/
}
/*-----------------      END footer      -----------------*/





/*-------------------------modal-------------------------*/
.blocker{
    background: rgba( 255, 255, 255, 0.3 ) !important;
}
.modal p {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: 1.666;
    color: #5e6c76;
    /*margin: 1em 0;*/
    font-size: 18px;
    text-align: center;
    
}

.modal-flag-box {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 60px;
}

.modal-flag img {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 4rem;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    vertical-align: middle;
    text-decoration: none;
    display:block;
    margin:auto;
    margin-top: 20px;
}

.modal-flag h5 {
    font-family: 'Poppins';
    color: black;
}

.modal-row {
    padding-top: 10px;
}






/*----------------------main menus----------------*/
.menu-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.menu-price {
  color: grey;
  font-size: 22px;
}